*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.settings/
/.project
/.classpath
/target/
/output/
/bin/

/scenarios/velbert-v1.0-1pct/matsim-velbert-v1.0.network.xml.gz
/scenarios/velbert-v1.0-1pct/matsim-velbert-v1.0.transit-schedule.xml.gz
/scenarios/velbert-v1.0-1pct/matsim-velbert-v1.0.transit-vehicles.xml.gz
/scenarios/velbert-v1.0-1pct/matsim-velbert-v1.0.vehicles.xml.gz
/scenarios/velbert-v1.0-1pct/matsim-velbert-v1.0-1pct.plans.xml.gz
/scenarios/velbert-v1.0-1pct/OSM_PLZ_072019.dbf
/scenarios/velbert-v1.0-1pct/OSM_PLZ_072019.shp
/scenarios/velbert-v1.0-1pct/OSM_PLZ_072019.shx

/scenarios/velbert-v1.0-10pct/matsim-velbert-v1.0.network.xml.gz
/scenarios/velbert-v1.0-10pct/matsim-velbert-v1.0.transit-schedule.xml.gz
/scenarios/velbert-v1.0-10pct/matsim-velbert-v1.0.transit-vehicles.xml.gz
/scenarios/velbert-v1.0-10pct/matsim-velbert-v1.0.vehicles.xml.gz
/scenarios/velbert-v1.0-10pct/matsim-velbert-v1.0-10pct.plans.xml.gz
/scenarios/velbert-v1.0-10pct/OSM_PLZ_072019.dbf
/scenarios/velbert-v1.0-10pct/OSM_PLZ_072019.shp
/scenarios/velbert-v1.0-10pct/OSM_PLZ_072019.shx

/scenarios/velbert-v1.0-1pct/cluster-outputs
/.idea/
*.iml